.input-list{
    text-align: left;
    border-color: black;
    background-color: #e2dfd9;
    width: 612px;
    height: 38px;
    margin-left: 251px;
    font-size: 15px;
    word-spacing: 30px;
   font-family: Calibri !important;
}
.text-list{
    border-color: black;
    background-color: #e2dfd9;
    font-size: 15px;
    font-family: Calibri !important;
}
.comment-input{
    width: 519px;
    margin-left: auto;
    margin-right: auto; 
    border-color: black;
}
.activePage {
    background: #a8bbbb;
    color: #fff;
}
