.input-list{
    border-color: black;
    background-color: #e2dfd9;
    font-size: 15px;
    font-family: Calibri !important;
    word-break: break-all;
}
table tbody tr th{
    text-align: center;
    background-color: #e2dfd9;
    width: 73%;
}
td{
    width: 80%;
}
.text-list{
    border-color: black;
    background-color: #e2dfd9;
    font-size: 15px;
    font-family: Calibri !important;
}
.comment-input{
    width: 519px;
    margin-left: auto;
    margin-right: auto; 
    border-color: black;
}
.activePage {
    background: #a8bbbb;
    color: #fff;
}
