.input-list{
    text-align: left;
    border-color: black;
    background-color: #e2dfd9;
    width: 678px;
    height: 75px;
    margin-left: 230px;
    font-size: 15px;
    font-family: Calibri !important;
    word-break: break-all;
    /*column-count: 2;*/
    /*columns: 2;*/
    /*float: right;*/
}
.text-list{
    border-color: black;
    background-color: #e2dfd9;
    font-size: 15px;
    font-family: Calibri !important;
}
.comment-input{
    width: 519px;
    margin-left: auto;
    margin-right: auto; 
    border-color: black;
}
.activePage {
    background: #a8bbbb;
    color: #fff;
}
